
table {
  font-family: arial, sans-serif;
  text-align-last: center;
  border-collapse: collapse;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


tr:nth-child(2) {
  background-color: #5c5b5b;
  text-align: left;
  color: #ffffff;
}

tr:nth-child(6  ) {
  background-color: #b8b8b8;
  text-align-last: center;
  color: #000000;
}

img{
  width: 30%;
  height: 30%;
}
