<!--
    Apartado 1: h1#titulo+p+img+h2.subtitulo tres etiquetas al mismo nivel metemos un id a h1
-->

<h1>Queen</h1>
<h2>Banda británica de rock formada en 1970 en Londres.</h2>
<br><br>
<img src="../assets/queen.jpg">
<br>
<h2>Integrantes de la banda </h2>

<!--
    Apartado 2 y 3
    ul>li*4^h2.subtitulo
    dos etiquetas una hija y otra multiplicada
-->
<ul>

  <li>Bryan May</li>

  <li>Freddie Mercury</li>

  <li>John Deacon</li>

  <li>Roger Taylor</li>

  </ul>
  <br>
  <h2>Discografía</h2>
  <!--
    table>caption+tr>th*2^tr*3>td*2^tr>td
  -->

  <div>
    <table class="default">
      <caption> Grandes éxitos de Queen </caption>
      <tr>

        <td>Año</td>

        <td>Disco</td>

      </tr>

      <tr>

        <td>1975</td>

        <td>A night at the opera</td>

      </tr>
      <tr>

        <td>1986</td>

        <td>A kind of magic</td>

      </tr>

      <tr>

        <td>1989</td>

        <td>The miracle</td>

      </tr>

      <tr>
        <td colspan="2">"A kind of magic" fue su album más famoso</td>

      </tr>

    </table>
  </div>
<h1>Sitio web the Queen</h1>
<a href="#">www.queenonline.com</a>

